<div mat-dialog-content class="main">
    <img class="bigSizeImg" src={{urlImage}} alt="Загрузка..." srcset="" width="600px" height="400px">
    <mat-form-field>
        <h2 mat-dialog-title>Add new comment</h2>
        <input matInput [(ngModel)]="food">
    </mat-form-field>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.city" cdkFocusInitial>Add comment</button>
    <h3 class="allCommentsTitle" mat-dialog-title >All comments</h3>
    <div class="allComments container d-flex">
        <div class="row" *ngFor="let comment of photoDate.comments">
            <p> 
                <span class="commentLogin">Anonim</span> <span class="commentDateTime"> {{getDate(comment.date)}}</span> 
                
            </p>
            <div class="col-sm-3 commentImg"> 
                <img src="../../../assets/img/default.png" alt="" srcset="">
                <div class="text-center"> 
                Anonim 
                </div>
            </div>
            <div class="col-sm-9 commentBox d-flex align-items-center"> 
                <div class="commentText">
                    {{comment.text}}
                </div>
            </div>

        </div>
    </div>

</div>
