<div mat-dialog-content class="main" class = {{visibility}}>
    <img class="bigSizeImg" src={{urlImage}} alt="Загрузка..." srcset="" width="600px" height="400px">

    <form class="newComment">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Your name:</mat-label>
          <input (keydown.enter)='saveComment()' id="userName" matInput placeholder="Enter Your name..." required>
        </mat-form-field>
        
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Your message:</mat-label>
          <textarea (keydown.enter)='saveComment()' id="userMessage" matInput placeholder="Enter your message..." required></textarea>
        </mat-form-field>
        <div class="alert alert-danger" class = {{errorInput}}>
            <strong>Warning!</strong> {{errorInput}}
          </div>
        
        <button  type="submit" class="submitValidate" mat-raised-button color="primary" (click)="validate()">Add comment</button>
      </form>

    
    <h3 class="allCommentsTitle" mat-dialog-title >All comments</h3>
    <div class="allComments container d-flex" class = {{visibility}}>
        <div class="row" *ngFor="let comment of photoDate.comments">
            <p> 
                <span class="commentLogin">Anonim</span> <span class="commentDateTime"> {{dateTimeConvert(comment.date)}}</span> 
                
            </p>
            <div class="col-sm-3 commentImg"> 
                <img src="../../../assets/img/default.png" alt="" srcset="">
                <div class="text-center"> 
                Anonim 
                </div>
            </div>
            <div class="col-sm-9 commentBox d-flex align-items-center"> 
                <div class="commentText">
                    {{comment.text}}
                </div>
            </div>

        </div>
    </div>

</div>
